## GM 알고리즘 계산
- 2023.11.01

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### ROE 계산할 데이터 가져오기

In [2]:
# 데이터 가이드에서 가져온 데이터 불러오기
data_guide_df = pd.read_excel("../FMguide_data/가치주.xlsx")

In [3]:
# 데이터 가이드 데이터프레임 전처리
col = data_guide_df[11:12]

In [4]:
data = data_guide_df[13:]

In [5]:
# concat
df = pd.concat([col, data])

In [6]:
# 금융 수익 삭제(이미 금융 손익 컬럼이 존재. 이 컬럼만 사용해도 무방)
df.drop(['Unnamed: 4'], axis=1, inplace=True)

In [7]:
# 첫행을 컬럼으로 지정
df.columns = df.iloc[0]

In [8]:
# 첫행 삭제(컬럼으로 이미 지정함)
df.drop(df.index[0], inplace=True)

In [9]:
# 첫열 이름 변경
df.rename(columns= {'Item Name':'Date'}, inplace=True)

In [10]:
# Date 컬럼 날짜 형식으로 바꿔주기
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
# 원하는 날짜(2022-07-01 ~ 2023-06-31) 데이터만 가져오기
df = df[(df['Date'] >= '2022-07-01') & (df['Date'] <= '2023-06-30')]

In [12]:
df.head()

11,Date,영업이익(원),금융손익(비영업)(원),관계기업투자등관련손익(비영업)(원),종가(원),수정주가(원)
142,2022-07-01,1357569000000,-191014000000,-75909000000,52800,52800
143,2022-07-04,1357569000000,-191014000000,-75909000000,53600,53600
144,2022-07-05,1357569000000,-191014000000,-75909000000,54200,54200
145,2022-07-06,1357569000000,-191014000000,-75909000000,53800,53800
146,2022-07-07,1357569000000,-191014000000,-75909000000,53800,53800

### PBR 데이터 가져오기

In [13]:
# KRX(한국거래소)에서 받아온 기업별 pbr이 포함된 csv 파일 불러오기
pbr_df = pd.read_csv('../pbr_data/sk_pbr_data.csv', encoding='EUC-KR')

In [14]:
# 필요한 컬럼만 가져오기
pbr_df = pbr_df[['일자','PBR']]

In [15]:
# 일자 오름차순으로 정렬(df가 오름차순으로 되어 있어서 통일성 있게 하려고)
pbr_df = pbr_df.sort_values(by='일자')

In [16]:
# 일자 컬럼을 Date 변경
pbr_df.rename(columns={'일자':'Date'}, inplace=True)

In [17]:
# 시간 타입으로 변경
pbr_df['Date'] = pd.to_datetime(pbr_df['Date'])

In [18]:
# df와 pbr_df를 Date 컬럼을 기준으로 merge
df = pd.merge(df, pbr_df, on='Date', how='outer')

In [19]:
df

,Date,영업이익(원),금융손익(비영업)(원),관계기업투자등관련손익(비영업)(원),종가(원),수정주가(원),PBR
0,2022-07-01,1357569000000,-191014000000,-75909000000,52800,52800,0.99
1,2022-07-04,1357569000000,-191014000000,-75909000000,53600,53600,1.01
2,2022-07-05,1357569000000,-191014000000,-75909000000,54200,54200,1.02
3,2022-07-06,1357569000000,-191014000000,-75909000000,53800,53800,1.01
4,2022-07-07,1357569000000,-191014000000,-75909000000,53800,53800,1.01
...,...,...,...,...,...,...,...
256,2023-06-26,958187000000,-97545000000,9672000000,47350,47350,0.91
257,2023-06-27,958187000000,-97545000000,9672000000,47600,47600,0.92
258,2023-06-28,958187000000,-97545000000,9672000000,47650,47650,0.92
259,2023-06-29,958187000000,-97545000000,9672000000,46250,46250,0.89
260,2023-06-30,958187000000,-97545000000,9672000000,46600,46600,0.90

### COE 계산을 위한 rf 데이터 불러오기

- rf: risk free(미국채 10년물)

In [20]:
import yfinance as yf

us_10_year = yf.download("^TNX", start="2022-07-01", end="2023-06-30")
us_10_year

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close  Volume
Date
2022-07-01  2.932  2.932  2.791  2.889      2.889       0
2022-07-05  2.871  2.871  2.780  2.809      2.809       0
2022-07-06  2.784  2.924  2.746  2.913      2.913       0
2022-07-07  2.937  3.017  2.928  3.008      3.008       0
2022-07-08  2.984  3.101  2.976  3.101      3.101       0
...           ...    ...    ...    ...        ...     ...
2023-06-23  3.727  3.760  3.692  3.739      3.739       0
2023-06-26  3.702  3.737  3.679  3.719      3.719       0
2023-06-27  3.714  3.776  3.692  3.768      3.768       0
2023-06-28  3.735  3.766  3.704  3.710      3.710       0
2023-06-29  3.747  3.868  3.747  3.854      3.854       0

[250 rows x 6 columns]

In [21]:
# 미국채 Close 컬럼명 변경
us_10_year.rename(columns={'Close':'us_10_treasury'}, inplace=True)

In [22]:
# Date 인덱스를 컬럼으로
us_10_year = us_10_year.reset_index()

In [23]:
# 필요한 컬럼만 추출
us_10_year = us_10_year[['Date', 'us_10_treasury']]

In [24]:
# 기존 df와 us_10_year데이터를 Date컬럼 기준으로 merge
df = pd.merge(df, us_10_year, on='Date', how='outer')

In [25]:
# na 존재하는 행 출력
#df[df.isna().any(axis=1)]

In [26]:
# PBR이 NA인 행 삭제. PBR이 NA라는 것은 영업일이 아니라는 의미이기 때문
df = df.dropna(subset=['PBR'])

In [27]:
# us_10_treasury의 na 값을 ffill로(전날)데이터로 채워줌
df['us_10_treasury'] = df['us_10_treasury'].fillna(method='ffill')

Equity의 값은 데이터가 아니라 수동으로 가져옴

URL: https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A017670&cID=&MenuYn=Y&ReportGB=B&NewMenuID=103&stkGb=701

- 2022년 3분기: 10515800000000
- 2022년 4분기: 10383400000000
- 2023년 1분기: 10689100000000
- 2023년 2분기: 10685400000000

In [28]:
# 분기별로 나누는 코드
def get_quarter(date):
    if date >= pd.Timestamp('2022-01-01') and date <= pd.Timestamp('2022-03-31'):
        return '2022Q1'
    elif date >= pd.Timestamp('2022-04-01') and date <= pd.Timestamp('2022-06-30'):
        return '2022Q2'
    elif date >= pd.Timestamp('2022-07-01') and date <= pd.Timestamp('2022-09-30'):
        return '2022Q3'
    elif date >= pd.Timestamp('2022-10-01') and date <= pd.Timestamp('2022-12-31'):
        return '2022Q4'
    elif date >= pd.Timestamp('2023-01-01') and date <= pd.Timestamp('2023-03-31'):
        return '2023Q1'
    elif date >= pd.Timestamp('2023-04-01') and date <= pd.Timestamp('2023-06-30'):
        return '2023Q2'
    else:
        return None

df['Quarter'] = df['Date'].apply(get_quarter)

In [29]:
# 해당하는 분기에 위에서 수동으로 가져온 equity 값 넣기
def assign_value(quarter):
    values = {
        '2022Q3': 10515800000000,
        '2022Q4': 10383400000000,
        '2023Q1': 10689100000000,
        '2023Q2': 10685400000000
    }
    return values.get(quarter, None)

df['equity'] = df['Quarter'].apply(assign_value)

### ROE 계산

순이익 = 영업이익 + 금융손익 + EMS *(1-20%)

(1-20%): 법인세

In [30]:
# 세전이익 생성
df['세전이익'] = df['영업이익(원)'] + df['금융손익(비영업)(원)'] + df['관계기업투자등관련손익(비영업)(원)']

In [31]:
# 순이익 계산
df['순이익'] = df['세전이익'] * (1-0.2) # 0.2 = 20%

In [32]:
# ROE 계산
df['ROE'] = df['순이익'] / df['equity']

In [33]:
# ROE 평균 계산
roe_values = df['ROE'].value_counts().index

In [34]:
# roe_values를 리스트로 변환하고, 각 원소를 float으로 변환합니다.
roe_values_numeric = [float(value) for value in roe_values]

# 평균 roe 계산
roe_average = sum(roe_values_numeric) / len(roe_values_numeric)

In [35]:
# ROE 값 지정
df['ROE'] = roe_average

### COE 계산

COE = rf + Beta(MRP)

- Beta: 1
- MRP: 4%
- rf: 미국 국채 10년물

In [36]:
# beta랑 MRP 값
beta = 1
MRP = 0.04

In [37]:
df['COE'] = df['us_10_treasury'] + beta*MRP

In [38]:
# ROE 단위 변경 -> % 단위로 변경
df['ROE'] = df['ROE'] * 100

### growth multiplier 계산

gm = PBR * COE / ROE

In [39]:
df['gm'] = (df['PBR'] * df['COE']) / df['ROE']

In [40]:
# 모든 행 출력되도록
#pd.set_option('display.max_rows', None)

### 시점&수익률 생성

In [41]:
# 각 시점의 일주일, 이주일, 한달뒤 종가 값을 가진 컬럼 생성
df['수정주가_1주후'] = df['수정주가(원)'].shift(-5) # 1주
df['수정주가_2주후'] = df['수정주가(원)'].shift(-10) # 2주
df['수정주가_1달후'] = df['수정주가(원)'].shift(-20) # 1달
df['수정주가_3달후'] = df['수정주가(원)'].shift(-60) # 3달
df['수정주가_6달후'] = df['수정주가(원)'].shift(-120) # 6달

### 일반 수익률

In [42]:
# 각 시점의 1주후, 2주후, 한달후 수익률 구하기 + 수익률 -> %로
df['수익률_1주후'] = (df['수정주가_1주후'] - df['수정주가(원)']) / df['수정주가(원)'] * 100
df['수익률_2주후'] = (df['수정주가_2주후'] - df['수정주가(원)']) / df['수정주가(원)'] * 100
df['수익률_1달후'] = (df['수정주가_1달후'] - df['수정주가(원)']) / df['수정주가(원)'] * 100
df['수익률_3달후'] = (df['수정주가_3달후'] - df['수정주가(원)']) / df['수정주가(원)'] * 100
df['수익률_6달후'] = (df['수정주가_6달후'] - df['수정주가(원)']) / df['수정주가(원)'] * 100

### 코스피(시장) 수익률 계산

In [43]:
import FinanceDataReader as fdr

# 코스피 지수 데이터 가져오기
df_kospi = fdr.DataReader('KS11', '2022-07-01', '2023-06-30')

In [44]:
df_kospi = df_kospi.reset_index() # 'Date' 인덱스를 컬럼으로 변환
df = df.merge(df_kospi[['Date', 'Adj Close']]) # df에 df_kospi "Adj Close" 값 병합
df.rename(columns={'Adj Close': 'kospi'}, inplace=True) # 컬럼명 변경

In [45]:
# 각 시점의 일주일, 이주일, 한달뒤 종가 값을 가진 컬럼 생성
df['kospi_1주후'] = df['kospi'].shift(-5) # 1주
df['kospi_2주후'] = df['kospi'].shift(-10) # 2주
df['kospi_1달후'] = df['kospi'].shift(-20) # 1달
df['kospi_3달후'] = df['kospi'].shift(-60) # 3달
df['kospi_6달후'] = df['kospi'].shift(-120) # 6달

In [46]:
# 각 시점의 1주후, 2주후, 한달후 수익률 구하기 + 수익률 -> %로
df['kospi_수익률_1주후'] = (df['kospi_1주후'] - df['kospi']) / df['kospi'] * 100
df['kospi_수익률_2주후'] = (df['kospi_2주후'] - df['kospi']) / df['kospi'] * 100
df['kospi_수익률_1달후'] = (df['kospi_1달후'] - df['kospi']) / df['kospi'] * 100
df['kospi_수익률_3달후'] = (df['kospi_3달후'] - df['kospi']) / df['kospi'] * 100
df['kospi_수익률_6달후'] = (df['kospi_6달후'] - df['kospi']) / df['kospi'] * 100

In [47]:
# 지수를 얼마나 이겼는지 (상대)수익률
df['상대수익률_1주후'] = df['수익률_1주후'] - df['kospi_수익률_1주후']
df['상대수익률_2주후'] = df['수익률_2주후'] - df['kospi_수익률_2주후']
df['상대수익률_1달후'] = df['수익률_1달후'] - df['kospi_수익률_1달후']
df['상대수익률_3달후'] = df['수익률_3달후'] - df['kospi_수익률_3달후']
df['상대수익률_6달후'] = df['수익률_6달후'] - df['kospi_수익률_6달후']

### 데이터 내보내기

In [48]:
import os

# 저장할 폴더 경로 지정
folder_path = '../gm_data'

# 폴더가 없으면 생성
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# CSV 파일 저장
df.to_csv(f'{folder_path}/SK_gm_df.csv', index=False)